<div class="jumbotron">
	<h1 class="text-center">Alurapic</h1>
</div>

<p class="alert alert-info" ng-show="message.length">
	{{message}}
</p>

<div class="row">
	<div class="col-md-12">
		<form>
			<div class="input-group">
				<span class="input-group-btn">
					<a href="/fotos/new" class="btn btn-primary" type="button">
						Nova foto
					</a>
				</span>
				<input class="form-control" placeholder="filtrar pelo título da foto" 
					ng-model="filtro" ng-model-options="{ debounce: 500 }">
		</form>
	</div> <!-- fim col-md-12 -->
</div> <!-- fim row -->

<div class="row">
    <meu-painel class="col-md-2 painel-animado" ng-repeat="foto in fotos | filter: filtro" titulo="{{foto.titulo}}">
		<minha-foto url="{{foto.url}}" alt="{{foto.titulo}}"></minha-foto>
		<a href="/fotos/edit/{{foto._id}}" class="btn btn-primary btn-block">Editar</a>
		<botao-remover titulo="Remover" acao="remover(foto)"></botao-remover>
		</meu-painel>
		<lista-titulo></lista-titulo>
</div>